.application {
  width: 250px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 30px;
  padding: 15px;
  margin: 0 10px;
}

.application h1 {
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
}

.application img {
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
}
