.dadosAplicativo {
  max-width: 100vw;
  min-height: 100vh; 
  background-color: #d6d6d6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aplicativoDetalhado {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: justify;
}

.aplicativoDetalhado img {
  width: 5rem;
  border-radius: 50%;
}

.aplicativoDetalhado .infoApp h1 {
  margin-bottom: 50px;
}

.containerMateriais{
  margin: 15px 0;
  border: 1px solid #000;
  border-radius: 8px;
  padding: 5px 10px;
}

.voltar {
  margin-top: 50px;
  font-size: 3rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
